@font-face {
    font-family: "leseFont";
    src: url(Fonts/Open_Sans/static/OpenSans/OpenSans-Light.ttf);
  }

  body{
    background-color: #202124 !important;
    color: #E8EaEd !important;
} 

html {
    scroll-behavior: smooth;
}


.toptext {
    background-image: url(imgs/top.jpg);
    background-size: cover;
    color: white;
    margin: 5px;

}

.leseText{
    font-family:leseFont;
}

.navbar {
    margin-bottom: 10px;
}

.nav-bg{
    background-color: #C74531;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-item h3 {
    background-color: #C74531;
}

.carousel-item p {
    background-color: #C74531;
}

.anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.anz1 {
    background-color: #C74531;
    color: white;
    margin-top: 10%;
    padding: 1vw;
    display: block;
    top: 50%;
    transform: rotate(7deg);
    transition-duration: 250ms;
}

.anz2 {
    background-color: #60AB9A;
    color: white;
    margin-top: 3%;
    padding: 1vw;
    display: block;
    top: 50%;
    transform: rotate(-2deg);
    transition-duration: 250ms;
}

.anz3 {
    background-color: #C74531;
    color: white;
    padding: 1vw;
    display: block;
    margin-bottom: 7%;
    top: 50%;
    transform: rotate(4deg);
    transition-duration: 250ms;
}

.can {
    width: 100%;

    border: solid 1px black;
}